# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
BlightPredictor/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (if you use it)
.vscode/

# Environment variables or secrets
.env

# Streamlit cache
.streamlit/

# Data & logs
*.log
*.csv
*.tsv
*.xlsx

# OS-specific files
.DS_Store
Thumbs.db

# Other build or packaging
build/
dist/
*.egg-info/
